Repository owncloud/user_external, pull requests merged in 2019-10, with the labels that each got.

#10 Drone CI
  .drone.starlark
  .drone.yml
  .gitignore
  .phan/config.php
  .php_cs.dist
  Makefile
  composer.json
  composer.lock
  lib/base.php
  lib/ftp.php
  lib/imap.php
  lib/smb.php
  lib/webdavauth.php
  phpstan.neon
  tests/config.php
  tests/ftp.php
  tests/imap.php
  tests/smb.php
  vendor-bin/owncloud-codestyle/composer.json
  vendor-bin/phan/composer.json
  vendor-bin/phpstan/composer.json
Labels: 4 - To release, Drone, QA-team

#12 Update appinfo and fix User backend OC_User_* not found
  appinfo/app.php
  appinfo/info.xml
  tests/smb.php
Labels: 3 - To review

#14 Setup phpunit so that 'make test-php-unit' will run
  phpunit.xml
  tests/unit/config.php
  tests/unit/ftpTest.php
  tests/unit/imapTest.php
  tests/unit/smbTest.php
Labels: 3 - To review

#15 Enable phan
  .drone.starlark
  .drone.yml
  .phan/config.php
Labels: 4 - To release, Drone, QA-team

#16 Enable phpstan
  .drone.starlark
  .drone.yml
  lib/webdavauth.php
Labels: 3 - To review, Drone, QA-team
